<h1><%= @location.name %></h1>

<%= form_for([@location, @crag]) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :region %>
<%= f.text_field :region %><br>
<%= f.label :rock_type %>
<%= f.text_field :rock_type %><br>
<%= f.label :season %>
<%= f.text_field :season %>


<%= f.submit %>
<% end %>
