<h1><%= @location.name %></h1>
<%= link_to "New Crag", new_location_crag_path(@location) %>

<h2>Crags:</h2>

<ul>

<% @location.crags.each do |crag| %>

  <p>Name: <%= crag.name %></p>
  <p>Region: <%= crag.region %></p>
  <p>Rock Type: <%= crag.rock_type %></p>
  <p>Best Season: <%= crag.season %></p>
  <h3>Flags:</h3>
    <% crag.flags.each do |flag| %>
    <li><%= flag.content %></li>
    this is where flag.crag_flags.each do will go
    iterating over comments (crag_flag.comments)
  <% end %>
  <h4>Comments:</h4>
  <% crag.crag_flags.each do |cflag| %>
  <li><%= cflag.comment %></li>
  <% end %>
  <%= link_to "Edit This Crag", edit_location_crag_path(@location, crag.id) %>
  <br><br>
<% end %>
</ul>
